
<!-- Table of the RIB -->
<table mdbTable bordered="true" striped="true" class="tab">
  <thead class="stylish-color white-text">
    <tr>
      <th scope="col">RIB</th>
      <th scope="col" >Date <mdb-icon fas icon="sort"></mdb-icon></th>
      <th scope="col">Libelle</th>
      <th scope="col">Montant</th>
      <th scope="col">Devise</th>
      <th scope="col">Recette</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let adunit of adunits?.operations">
      <th scope="row">{{ adunit.RIB}}</th>
      <td>{{ adunit.Date}}</td>
      <td>{{ adunit.Libelle}}</td>
      <td>{{ adunit.Montant}}</td>
      <td >{{ adunit.Devise}}</td>
      <td *ngIf="adunit.Montant > 0; else 0">{{ adunit.Montant}}</td>
    </tr>
  </tbody>
</table>


