
<!-- Table of the RIB -->
<table mdbTable bordered="true" striped="true" class="tab">
  <thead class="stylish-color white-text">
    <tr>
      <th scope="col">RIB</th>
      <th scope="col" >Date <mdb-icon fas icon="sort"></mdb-icon></th>
      <th scope="col">Libelle</th>
      <th scope="col">Montant</th>
      <th scope="col">Devise</th>
      <th scope="col" class="rgba-green-strong white-text">Recette</th>
      <th scope="col" class="rgba-pink-strong white-text">Dépense </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let adunit of adunits.operations">
      <th scope="row">{{ adunit?.RIB}}</th>
      <td>{{ adunit?.Date}}</td>
      <td>{{ adunit?.Libelle}}</td>
      <td>{{ adunit?.Montant | number}}</td>
      <td >{{ adunit?.Devise}}</td>
      <td >{{ adunit.Montant > 0 ? adunit.Montant : 0}}</td>
      <td >{{ adunit.Montant < 0 ? adunit.Montant : 0}}</td>
    </tr>
  </tbody>
</table>

{{test}}



